/* the absolute position property refers to the postition relative to the parent, in this case the body. However it isnt always necessarily 
the body, ie. if one of the squares were within a parent container/square, the absolute element will now be the child to the parent square.

this is useful when trying to fine-tune the position of an element, as you can use both absolute and relative positioning to accurately 
display your element*/

body {
  margin: 0px;
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
}

/* Font-size: 16px = 100% = 1em */
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Rancho", cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}

.andres-and-luna {
  width: 15%;
}

.top-container {
  background-color: #c9eeff;
  position: relative;
  padding-top: 100px;
}

/* .middle-container {} */

/* .bottom-container {} */

.dev {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  left: 70%;
}
.bot-cloud {
  position: absolute;
}
